/* full screen size */

/* positioning */
.positionElements {
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: 0%;
  padding: 0;
  margin-top: -0.4%;
  left: -1%;
}
/* styling center */
.centerPortfolio {
  background-color: #00000000;
}
/* inside element styling */
.positionElements {
  background-color: #00000000;
}
/* portfolio grid  */
.portfolioGrid {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(24, calc(100% / 24));
  width: 100vw;
  height: 100vh;
  top: 55.5%;
  left: 55.5%;
  transform: translate(-50%, -50%);
  grid-template-rows: repeat(24, calc(100% / 24));
  pointer-events: none;
  min-width: 0;
}
/* collective title styling */
.portfolioTitle {
  font-size: 10rem;
  text-align: right;
  color: #ffffff;
}
/* collective number styling */

.portfolioNumber {
  font-size: 2rem;
  color: #ffffff;

  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: start;
  grid-row: 1;
  grid-column: 1;
}
/* collective info styling */

.portfolioInfo {
  font-size: 10.5px;
  color: #ffffff;

  margin-bottom: 3rem;
  text-align: right;
}
/* portfolio find out more */
#portfolioClick {
  color: #ffffff;
  display: flex;
  text-align: left;
  margin-left: 0.5vw;
  position: fixed;
  left: 55vw;
  top: 0.25vh;
  z-index: 100000;
  background-color: rgba(220, 216, 216, 0.067);
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 0rem 1.5rem;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
}
/* portfolio find out more hover */

#portfolioClick:hover {
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.945);
  transition: ease-in-out;
  transition-duration: 1s;
  color: #fff;
}
/* first grid */

#portfolioInfoGrid0 {
  display: flex;
  grid-row: 16/24;
  grid-column: 1/7;
  text-align: left;
  margin-left: 1vw;
  font-size: 1vw;
}
#portfolioTitleGrid0 {
  display: flex;
  grid-row: 15;
  grid-column: 1/20;
  text-align: left;
  margin-left: 0.5vw;
}
#portfolioClickGrid0 {
  color: #ffffff;
  display: flex;
  grid-row: 9;
  grid-column: 1/6;
  text-align: left;
  margin-left: 1vw;
}
#portfolioNumberGrid0 {
  grid-row: 1;
  grid-column: 1;
  writing-mode: horizontal-tb;
  text-orientation: none;
  font-size: 10vw;
  justify-content: center;
  margin-left: 0.5vw;
}
/* second grid */

#portfolioInfoGrid1 {
  display: flex;
  grid-row: 16/24;
  grid-column: 2/8;
  text-align: left;
  font-size: 1vw;
  margin-left: 0.5vw;
}
#portfolioClickGrid1 {
  color: #ffffff;
  display: flex;
  grid-row: 9;
  grid-column: 2/6;
  text-align: left;
  margin-left: 0.5vw;
}
#portfolioTitleGrid1 {
  display: flex;
  grid-row: 20/24;
  grid-column: 2/20;
  font-size: 9vw;
  margin-top: -1vh;
  place-content: left;
}
#portfolioVideoGrid1 {
  display: flex;
  padding-right: 1vw;

  grid-row: 2/16;
  grid-column: 7/22;
  margin: auto;

  overflow: hidden;
}
#portfolioNumberGrid1 {
  grid-row: 1;
  grid-column: 2;
  writing-mode: horizontal-tb;
  text-orientation: none;
  font-size: 10vw;
  justify-content: center;
}

/* third grid */

#portfolioInfoGrid2 {
  display: flex;
  grid-row: 19;
  grid-column: 3/8;
  text-align: left;
  font-size: 1vw;
  margin-left: 0.5vw;
}
#portfolioTitleGrid2 {
  grid-row: 18;
  grid-column: 1/23;
  margin-right: 4vw;
  font-size: 6.5rem;
}

#portfolioNumberGrid2 {
  grid-row: 1;
  grid-column: 3;
  writing-mode: horizontal-tb;
  text-orientation: none;
  font-size: 10vw;
  justify-content: center;
}
#portfolioVideoGrid2 {
  display: flex;
  padding-right: 2vw;
  grid-row: 2/16;
  grid-column: 8/23;
  margin: auto;

  overflow: hidden;
}
/* fourth grid */

#portfolioInfoGrid3 {
  display: flex;
  grid-row: 17;
  grid-column: 4/9;
  text-align: left;
  font-size: 1vw;
  margin-left: 0.5vw;
}
#portfolioTitleGrid3 {
  display: flex;
  grid-row: 18;
  grid-column: 4/9;

  font-size: 6.6vw;
}
#portfolioClickGrid3 {
  color: #ffffff;
  display: flex;
  grid-row: 9;
  grid-column: 4/8;
  text-align: left;
  margin-left: 0.5vw;
}
#portfolioNumberGrid3 {
  grid-row: 1;
  grid-column: 4;
  writing-mode: horizontal-tb;
  text-orientation: none;
  font-size: 10vw;
  justify-content: center;
}
#portfolioVideoGrid3 {
  display: flex;
  padding-right: 2vw;

  grid-row: 2/16;
  grid-column: 9/24;
  margin: auto;

  overflow: hidden;
}

/* fifth grid */

#portfolioInfoGrid4 {
  grid-row: 18;
  grid-column: 5/10;
  text-align: left;
  margin-left: -0.5vw;
}
#portfolioTitleGrid4 {
  grid-row: 16;
  grid-column: 1/16;
  font-size: 8.9rem;
}
#portfolioClickGrid4 {
  display: flex;
  grid-row: 8;
  grid-column: 5/8;
  text-align: left;

  color: white;
}
#portfolioNumberGrid4 {
  grid-row: 2;
  grid-column: 5;
  writing-mode: horizontal-tb;
  text-orientation: none;
  font-size: 8vw;
  margin-left: -0.5vw;
  justify-content: center;
}
#portfolioVideoGrid4 {
  display: flex;
  padding-right: 2vw;
  grid-row: 2/16;
  grid-column: 10/25;
  margin: auto;
  margin-right: 1vw;
  overflow: hidden;
}

#portfolioInfo0,
#portfolioInfo1,
#portfolioInfo2,
#portfolioInfo3,
#portfolioInfo4,
#portfolioTitle0,
#portfolioTitle1,
#portfolioTitle2,
#portfolioTitle3,
#portfolioTitle4,
#portfolioClick0,
#portfolioClick1,
#portfolioClick2,
#portfolioClick3,
#portfolioClick4,
#portfolioNumber0,
#portfolioNumber1,
#portfolioNumber2,
#portfolioNumber3,
#portfolioNumber4 {
  color: white;
}

/* flex boxes */

.flexNumbers {
  display: flex;
  padding: 0;
  justify-content: content;
  place-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000000;
  border-style: dotted;
  border-width: 1px;
  border-color: #fff;
}
/* flex box styling */
#flexBox1,
#flexBox2,
#flexBox3,
#flexBox4,
#flexBox5 {
  flex: 1;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: start;
  font-size: 2rem;
  min-height: 100vh;
  border-style: dotted;
  border-color: #ffffff;
  border-width: 0.01px;
  border-radius: 0 0 500px 0;
  color: white;
}
/* video container  */
.videoContainer {
  position: relative;
}
/* video  */
.portfolioVideo {
  max-width: 100%;
  height: auto;
  position: block;
  object-fit: contain;
  object-position: left;
  filter: grayscale(100%);
}
/* secondary screen size */
.parentContainer {
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  box-sizing: border-box;
}
/* collective grid styling */
.P2Grid0,
.P2Grid1,
.P2Grid2,
.P2Grid3,
.P2Grid4 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 90vw;
  height: 90vh;
  margin: auto;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 5px;
}
/* portfolio secondary first box */
.P2Number0 {
  display: flex;
  grid-row: 2;
  grid-column: 1;
  margin: 0px 0px 0px 20px;
  font-size: 8vw;
}
.P2Click0 {
  display: flex;
  margin: 0px 0px 0px 20px;
  grid-row: 3;
  grid-column: 1/2;
}
.P2Title0 {
  display: flex;
  grid-row: 7/11;
  grid-column: 12;
  font-size: 5vw;
  margin: 0px 0px 0px 20px;
  text-align: right;
  flex-basis: end;
  margin: 20px;
}
.P2Info0 {
  display: flex;
  grid-row: 12/13;
  grid-column: 8/13;
  text-align: right;
  margin: 20px;
}
.P2Video0 {
  display: flex;
  grid-row: 12;
  grid-column: 12;
}

/* portfolio secondary secondary box */

.P2Number1 {
  display: flex;
  grid-row: 2;
  grid-column: 1/3;
  margin: 0px 0px 0px 20px;
  font-size: 8vw;
}
.P2Click1 {
  display: flex;
  margin: 0px 0px 0px 20px;
  grid-row: 3;
  grid-column: 1/3;
}
.P2Title1 {
  display: flex;
  grid-row: 7/13;
  grid-column: 8/13;
  font-size: 5.2vw;
  justify-content: center;
}
.P2Info1 {
  display: flex;
  grid-row: 12/13;
  grid-column: 8/13;
  text-align: right;
  margin: 20px;
}
.P2Video1 {
  display: flex;
  grid-row: 1/3;
  grid-column: 8/12;
  max-width: 100%;
  height: auto;
  position: block;
  object-fit: contain;
  object-position: left;
  margin: 20px;
}
/* portfolio secondary third box */

.P2Number2 {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  margin: 40px;
  font-size: 8vw;
}
.P2Click2 {
  display: flex;
  margin: 0px 0px 0px 40px;
  grid-row: 2;
  grid-column: 1/2;
}
.P2Title2 {
  display: flex;
  grid-row: 9/11;
  grid-column: 5/13;
  font-size: 5vw;
  justify-content: right;
  margin-right: 1.5vw;
}
.P2Info2 {
  display: flex;
  grid-row: 13;
  grid-column: 10/13;
  text-align: right;
  margin: 20px;
}
.P2Video2 {
  display: flex;
  grid-row: 1/3;
  grid-column: 8/12;
  max-width: 100%;
  height: auto;
  position: block;
  object-fit: contain;
  object-position: left;
  margin: 20px;
}
/* portfolio secondary fourth box */

.P2Number3 {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  margin: 40px;
  font-size: 8vw;
}
.P2Click3 {
  display: flex;
  margin: 0px 0px 0px 40px;
  grid-row: 2;
  grid-column: 1/2;
}
.P2Title3 {
  display: flex;
  grid-row: 8/12;
  grid-column: 9/13;
  font-size: 6vw;
  margin: 20px;
  justify-content: right;
}
.P2Info3 {
  display: flex;
  grid-row: 12/13;
  grid-column: 8/13;
  text-align: right;
  margin: 20px;
}
.P2Video3 {
  display: flex;
  grid-row: 1/3;
  grid-column: 8/12;
  max-width: 100%;
  height: auto;
  position: block;
  object-fit: contain;
  object-position: left;
  margin: 20px;
}
/* portfolio secondary fifth box */

.P2Number4 {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  margin: 40px;
  font-size: 8vw;
}
.P2Click4 {
  display: flex;
  margin: 0px 0px 0px 40px;
  grid-row: 2;
  grid-column: 1/2;
}
.P2Title4 {
  display: flex;
  justify-content: right;
  grid-row: 7/12;
  grid-column: 7/13;
  font-size: 7vw;
  margin: 20px;
}
.P2Info4 {
  display: flex;
  grid-row: 12/13;
  grid-column: 8/13;
  text-align: right;
  margin: 20px;
}
.P2Video4 {
  display: flex;
  grid-row: 1/3;
  grid-column: 8/12;
  max-width: 100%;
  height: auto;
  position: block;
  object-fit: contain;
  object-position: left;
  margin: 20px;
}
/* spline styling */
.P2Spline {
  position: absolute;
  grid-row: 1/3;
  grid-column: 8/12;
  z-index: 100;
}
/* ref styling */
.P2Ref {
  grid-row: 6;
  grid-column: 6;
  color: #00000000;
}
/* menu styling */
.P2Menu {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.029);
  font-family: "Yantramanav", sans-serif;

  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.8);
  left: 45vw;
  padding: 0rem 1.5rem;
  z-index: 10000;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.2rem;
  letter-spacing: 6px;
  cursor: pointer;
}
/* menu hover styling */
.P2Menu:hover {
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.945);
  transition: ease-in-out;
  transition-duration: 1s;
  color: #fff;
}
/* collective title styling */
.P2Title0:hover,
.P2Title1:hover,
.P2Title2:hover,
.P2Title3:hover,
.P2Title4:hover {
  text-decoration: underline;
  transition: 1s;
}
/* collective title animation transition */
.P2Title0,
.P2Title1,
.P2Title2,
.P2Title3,
.P2Title4 {
  transition: 1s;
}
