.menuBody {
  background-color: rgba(164, 169, 179, 0);
}
.menuBox {
  display: flex;
  flex-direction: row-reverse;
  /* grid-column: 1/8;
  grid-row: 1/7; */
  place-content: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 7vh;
  /* font-size: 8rem; */
  left: 50%;
  top: 50%;
  bottom: 50%;
  right: 50%;
}
.menu1 {
  margin-top: 2rem;
  font-size: 2rem;
  /* color: rgba(250, 235, 215, 0.071); */
  margin: 0.5rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
}
.menu2 {
  margin: 0.5rem;

  margin-top: 2rem;
  font-size: 2rem;
  /* color: rgba(250, 235, 215, 0.283); */
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
}
.menu3 {
  margin: 0.5rem;

  margin-top: 2rem;
  font-size: 2rem;
  border-style: solid;
  border-color: aliceblue;
  /* border-left: 100rem;
  border-right: 1rem; */
  writing-mode: vertical-rl;
  text-orientation: upright;
  overflow: hidden;
}
.menu3:hover {
  background-color: white;
  transition-duration: 0.3ms;
}
.menu4 {
  margin: 0.5rem;

  margin-top: 2rem;
  font-size: 2rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* color: rgba(250, 235, 215, 0.283); */
  z-index: 1;
}
.menu5 {
  margin: 0.5rem;

  margin-top: 2rem;
  font-size: 2rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* color: rgba(250, 235, 215, 0.071); */
  z-index: 1;
}
/* .menu3:hover {
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: aliceblue;
  padding-right: 100vw;
  transition: ease-in-out;
  transition-duration: 1s;
} */
.dot {
  height: 10px;
  width: 10px;
  /* background-color: #bbb; */
  border-radius: 50%;
  display: inline-block;
  border-color: aliceblue;
  border-style: solid;
  margin-top: 42vh;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 1;
}
.forward {
  margin-left: 5vw;
}
.back {
  margin-right: 5vw;
}
.dot:hover {
  background-color: aliceblue;
}
.menuAnimation {
  /* position: center; */
  display: block;
  /* margin-right: auto;*/
  position: absolute; /* or absolute */
  top: 50%;
  left: 48%;
  overflow: hidden;
  scale: 1;

  z-index: 0;
}
.menuOpen {
  border-style: solid;
  border-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  z-index: 2;
  position: absolute;
  margin: auto;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
}
